.grid-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.row{
    display: flex;
}

.cell {
    border: 2px solid blue;
    width: 100px;
    height: 100px;
}

/*
.cell:hover{
    background-color: black;
}
*/